@import "./mixins.less";
@import "./variables.less";
@import "./markdown.less";
@import "./highlight.less";
@import "./theme.less";
@import "./iconfont.less";
@import "./font.less";
@import "./mouse.less";

@media screen and (max-width: 359px) {
  html {
    font-size: 12px!important;
  }
}

@media screen and (min-width: 2560px) and (max-width: 3839px){
  html {
    font-size: 22px!important;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 32px!important;
  }
}


html {
  overflow: hidden;
  height: 100%;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;

}

body {
  overflow: hidden;
  margin: 0;
  height: 100%;
  background-color: #f3f6f7;
  color: #48505b;
  font-family: 'Hannotate SC', "PingFang SC", "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}


.plugin {
  position: relative;
}

.zoomable {
  font-size: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
  transition: background-color .3s;
  &--active {
    background-color: #fff;
    cursor: zoom-out;
  }
  img {
    position: absolute;
    transition: transform .3s cubic-bezier(.2,0,.2,1);
    transform-origin: 0 0;
  }
}
::selection {
  background: var(--theme-color);
}

::webkit-selection {
  background: var(--theme-color)
}

::moz-selection {
  background: var(--theme-color)
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
}

@media (max-width: 656px) {
  ::-webkit-scrollbar {
    width:0;
    height: 0;
  }
}

.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}
